<table> <!-- Create Table -->
    {{#users}}
    <tr> <!-- Table Row 1 -->
        <th>{{name}}</th> <!-- Table Header -->
        <th>{{balance}}</th>
    </tr> <!-- End Table Row 1 -->
    {{/users}}
</table>