<table> <!-- Create Table -->
    <tr> <!-- Table Row 1 -->
        <th>Firstname</th> <!-- Table Header -->
        <th>Lastname</th>
        <th>Age</th>
    </tr> <!-- End Table Row 1 -->
    <tr> <!-- Table Row 2 -->
        <td>{{firstName}}</td> <!-- Table Cell -->
        <td>{{lastName}}</td>
        <td>{{balance}}</td>
    </tr> <!-- End Table Row 2 -->
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
</table>