<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your Bank</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <style type="text/css">
            :root {
                --base: #fff;
                --secondary: #f5f7f8;
                --highlight: #1a7b99;

                --primary-color: #a5d8ffp;
                --white: #fff;
                --light-grey: #eee;
                --mid-grey: #333;
                --dark-grey: #222;

                --8px: 8.19px;
                --10px: 10.24px;
                --12px: 12.80px;
                --16px: 16.00px;
                --20px: 20.00px;
                --25px: 25.00px;
                --31px: 31.25px;
                --39px: 39.06px;
                --48px: 76.29px;
                --61px: 61.04px;
                --76px: 48.83px;
            }

            /* GENERAL STYLES */
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            html {
                font-size: 62.5%;
                font-family: 'Roboto', sans-serif;
                cursor: default;
                background-color: var(--dark-grey);
            }

            body {
                background-color: var(--dark-grey);
            }

            h1 {
                font-size: 6rem;
                font-weight: 700;
                color: var(--light-grey);
                text-align: center;
            }

            h2 {
                margin-top: 1vh;
                font-size: 3.5rem;
                font-weight: 500;
                color: var(--light-grey);
                padding: 0.5em 0px 0.25em 0px;
                text-align: center;
                width: 100%;
            }


            nav {
                border-bottom: 2px solid var(--mid-grey);
            }

            nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: var(--dark-grey);
            }

            nav li {
                float: left;
                padding: 0 20px;
                background-color: var(--dark-grey);
                border-right: 2px solid var(--mid-grey);
            }

            nav li {
                float: left;
                padding: 0 20px;
                background-color: var(--dark-grey);
                border-right: 2px solid var(--mid-grey);
            }

            nav li:hover {
                background-color: var(--light-grey);
            }

            nav li a {
                display: block;
                color: var(--light-grey);
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: var(--25px);
            }


            nav li a:hover {
                color: var(--dark-grey);
                text-decoration: none;
            }

        </style>
    </head>

    <body>

    <nav>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/accounts">Accounts</a></li>
            <li><a href="/transactions">Transactions</a></li>
        </ul>
    </nav>

    <main>
        <h1 style="color: var(--light-grey); text-align: center; justify-content: center;">Group 8 Bank</h1>
    </main>
    </body>
</html>

